/* spd-rcr/hw-02-advanced-css-portfoliio/assets/css/style.css */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12pt;
  color: #505050;
}
a {
  color: #06dada;
}
.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 2% 2% 0;
  background-color: #0d6efd; /* #505050; */
  height: 100%;
}
.header-title {
  background-color: #06dada;
  border-top-right-radius: 10pt;
  border-bottom-left-radius: 10pt;
  padding: 1%;
  font-size: 2em;
}
h1 {
  padding-left: 30px;
}

nav ul li {
  display: inline;
  padding: 10px 10px 10px 20px;
}

.header2 {
  display: flex;
  background-image: url("./../images/sub-header-background.png");
  /* height: auto; */
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.header2 div {
  font-size: 1.5em;
  margin: 20px;
}
.sub-title {
  background-color: #06dada;
  border-top-right-radius: 10pt;
  border-bottom-left-radius: 10pt;
  padding: 1%;
  height: 40px;
  /* margin: 10px 20px 10px 5px; */
}
h2 {
  font-weight: bolder;
}
main {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  padding: 20px;
  border: 0;
}
section {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  margin: 1% 0 1% 0;
}
.section-title {
  font-size: 1.8em;
  text-align: right;
  padding-right: 1%;
  height: auto;
  width: 20%;
}
h3 {
  font-weight: bold;
}
.content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border-left: 3px solid #06dada;
  /* padding: 0 1% 0 1%; */
  height: auto;
  width: 80%;
}
p {
  padding: 0 1% 1% 1%;
  width: 100vw;
}

.work-box-big {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 98%;
  height: 300px;
  border: 3px solid #06dada;
  margin: 0 1% 1% 1%;
}

.work-box-small {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 48%;
  height: 200px;
  border: 3px solid #06dada;
  margin: 0 1% 1% 1%;
}

#work01 {
  background-color: orange; /* left background-color in case broken image */
  /* background-image: url("./../images/surfer-sunset.png"); */
  background-image: url("./../images/weather-dashboard.png");
  background-size: cover;
  background-position: top;
  /* background-position: bottom; */
}
#work02 {
  background-color: #2a607c; /* left background-color in case broken image */
  background-image: url("./../images/hw02-advanced-css-refactoring.png");
  background-size: cover;
  background-position: top left;
}
#work03 {
  background-color: red; /* left background-color in case broken image */
  background-image: url("./../images/led-wall-158826-1024x685.jpg");
  background-size: cover;
  background-position: bottom;
}
#work02 img {
  width: 100%;
}
/* I would like to do a transition to duotone overlay but couldn't find example or couldn't think of how to adapt what I found on MDN Transition was ok and CSS Tricks */
#work01:hover,
#work02:hover,
#work03:hover {
  opacity: 70%;
  transition: 0.5s ease-in-out;
}
.title-box {
  align-self: flex-end;
  background-color: #06dada;
  border-top-right-radius: 10pt;
  border-bottom-left-radius: 10pt;
  padding: 1%;
  margin-bottom: 2%;
  height: 40px;
}

.title-box h5 {
  font-size: 0.75em;
  font-weight: normal;
}

#contact-me {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  section {
    flex-direction: column;
    justify-content: center;
  }

  .section-title {
    font-size: 1.8em;
    text-align: left;
    padding-left: 1%;
    height: 100%;
    width: 100%;
  }

  .content {
    width: 100%;
    border-left: none;
  }
}

@media screen and (max-width: 425px) {
  .header1 {
    flex-direction: column;
    justify-content: center;
  }
  nav ul li {
    display: flex;
  }
  .header2 {
    justify-content: center;
  }
  .header2 div {
    font-size: 1em;
    margin: 20px;
  }
  .work-box-big {
    height: 100px;
  }
  .work-box-small {
    width: 98%;
    height: 100px;
  }
}
